<div class="container">

    <form #e="ngForm" *ngIf="(accounts$  | async)?.length > 0 ; else alert"  (ngSubmit)="enter()">
      <fieldset>
        <div class="form-group">
          <label for="key">Choose your public key</label>

          <select 
          class="form-control" 
          id="key" 
          name="key"
          [(ngModel)] = "entrance.key"
          #key="ngModel">

            <option *ngFor="let account of accounts$ | async" [ngValue] = "account"> {{account}} </option>

          </select>

          <label for="number">Enter your number between 1 and 10</label>

          <input 
          type="number" 
          required
          pattern="^[1-9]?$|^10$"
          name="number"
          [(ngModel)] = "entrance.number"
          #number="ngModel"
          class="form-control" 
          id="number" 
          placeholder="1-100">

          <div class="text-danger" [hidden]="number.valid || number.pristine">Entered number must be between 1 and 10!</div>

          <button class="btn btn-secondary"  [disabled]="e.invalid" type="submit">Submit</button>

      </div>
      </fieldset>
    </form>
</div>

<app-other></app-other>

<ng-template #alert>
  <label>Please turn on Metamask and refresh the page!</label>
</ng-template>